02_ECCentral/00_SilverlightFramework/ControlPanel.Service/Service References/EmailCenterService/EmailServiceCenterProxy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmailServiceCenterProxy" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://d2web03.buyabs.corp/WebService.V10.2008020501/EmailServiceCenterProxy.asmx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://d2web03.buyabs.corp/WebService.V10.2008020501/EmailServiceCenterProxy.asmx?xsd=xsd2" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
      <xsd:import schemaLocation="http://d2web03.buyabs.corp/WebService.V10.2008020501/EmailServiceCenterProxy.asmx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmailServiceCenterProxy_GetEmailContentByTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailContentByTemplate" />
  </wsdl:message>
  <wsdl:message name="IEmailServiceCenterProxy_GetEmailContentByTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailContentByTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailServiceCenterProxy_GetEmailContentByTemplate_DefaultFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q1="http://oversea.newegg.com/Framework/Common/Contract" name="detail" element="q1:DefaultFaultContract" />
  </wsdl:message>
  <wsdl:message name="IEmailServiceCenterProxy_SendEmailByTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailByTemplate" />
  </wsdl:message>
  <wsdl:message name="IEmailServiceCenterProxy_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:portType name="IEmailServiceCenterProxy">
    <wsdl:operation name="GetEmailContentByTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/GetEmailContentByTemplate" message="tns:IEmailServiceCenterProxy_GetEmailContentByTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailServiceCenterProxy/GetEmailContentByTemplateResponse" message="tns:IEmailServiceCenterProxy_GetEmailContentByTemplate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmailServiceCenterProxy/GetEmailContentByTemplateDefaultFaultContractFault" name="DefaultFaultContractFault" message="tns:IEmailServiceCenterProxy_GetEmailContentByTemplate_DefaultFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailByTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/SendEmailByTemplate" message="tns:IEmailServiceCenterProxy_SendEmailByTemplate_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/SendEmail" message="tns:IEmailServiceCenterProxy_SendEmail_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmailServiceCenterProxy" type="tns:IEmailServiceCenterProxy">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmailContentByTemplate">
      <soap:operation soapAction="http://tempuri.org/GetEmailContentByTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultFaultContractFault">
        <soap:fault use="literal" name="DefaultFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendEmailByTemplate">
      <soap:operation soapAction="http://tempuri.org/SendEmailByTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailServiceCenterProxy">
    <wsdl:port name="BasicHttpBinding_IEmailServiceCenterProxy" binding="tns:BasicHttpBinding_IEmailServiceCenterProxy">
      <soap:address location="http://d2web03.buyabs.corp/WebService.V10.2008020501/EmailServiceCenterProxy.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>