02_ECCentral/00_SilverlightFramework/ControlPanel.Service/Service References/EmailCenterService/EmailServiceCenterProxy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://oversea.newegg.com/Framework/Common/Contract" elementFormDefault="qualified" targetNamespace="http://oversea.newegg.com/Framework/Common/Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DefaultFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:MessageHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DefaultFaultContract" nillable="true" type="tns:DefaultFaultContract" />
  <xs:complexType name="MessageHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallbackAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GlobalBusinessType" type="tns:GlobalBusinessType" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameSpace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalSender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageHeader" nillable="true" type="tns:MessageHeader" />
  <xs:simpleType name="GlobalBusinessType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VF" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Listing" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GlobalBusinessType" nillable="true" type="tns:GlobalBusinessType" />
</xs:schema>