02_ECCentral/00_SilverlightFramework/ControlPanel.Service/Service References/EmailCenterService/EmailServiceCenterProxy1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetEmailContentByTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="message" type="tns:GetEmailContentMessageV10" />
        <xs:element minOccurs="0" maxOccurs="1" name="dataVariables" type="tns:ArrayOfKeyValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GetEmailContentMessageV10">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SystemID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TemplateID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LanguageCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValue" nillable="true" type="tns:KeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Key" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetEmailContentByTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetEmailContentByTemplateResult" type="tns:EmailContentInfoV10" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EmailContentInfoV10">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FromName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Subject" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Body" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendEmailByTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="message" type="tns:TemplateEmailMessageV10" />
        <xs:element minOccurs="0" maxOccurs="1" name="dataVariables" type="tns:ArrayOfKeyValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TemplateEmailMessageV10">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SystemID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TemplateID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ToName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CCName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BCCName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CustomerNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LanguageCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="message" type="tns:EmailMessageV10" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EmailMessageV10">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SystemID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CustomerNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FromName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReplyName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ToName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CCName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BCCName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Subject" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Priority" type="tns:EmailPriority" />
      <xs:element minOccurs="1" maxOccurs="1" name="HtmlType" type="tns:EmailHtmlType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Body" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LanguageCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EmailPriority">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Low" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="High" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EmailHtmlType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Text" />
      <xs:enumeration value="Html" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>