02_ECCentral/00_SilverlightFramework/Domain/CommonDomain/Service References/ConfigurationService/ConfigurationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:777/Portal/Service/V40/2010021501/ConfigurationService.svc?xsd=xsd3" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
  <xs:complexType name="ArrayOfConfigKeyValueMsg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConfigKeyValueMsg" nillable="true" type="tns:ConfigKeyValueMsg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfigKeyValueMsg" nillable="true" type="tns:ArrayOfConfigKeyValueMsg" />
  <xs:complexType name="ConfigKeyValueMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfigID" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EditUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigKeyValueMsg" nillable="true" type="tns:ConfigKeyValueMsg" />
  <xs:complexType name="ConfigKeyValueV40">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://oversea.newegg.com/Framework/Common/Contract" base="q1:DefaultDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ConfigKeyValueMsg" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConfigKeyValueV40" nillable="true" type="tns:ConfigKeyValueV40" />
</xs:schema>