02_ECCentral/00_SilverlightFramework/Domain/CommonDomain/Service References/ConfigurationService/ConfigurationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConfigurationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ProfileService_Custom_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:777/Portal/Service/V40/2010021501/ConfigurationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:777/Portal/Service/V40/2010021501/ConfigurationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:777/Portal/Service/V40/2010021501/ConfigurationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces" />
      <xsd:import schemaLocation="http://localhost:777/Portal/Service/V40/2010021501/ConfigurationService.svc?xsd=xsd3" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConfigurationServiceV40_GetApplicationConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationConfig" />
  </wsdl:message>
  <wsdl:message name="IConfigurationServiceV40_GetApplicationConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationServiceV40_CreateConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateConfig" />
  </wsdl:message>
  <wsdl:message name="IConfigurationServiceV40_CreateConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationServiceV40_DeleteConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteConfig" />
  </wsdl:message>
  <wsdl:message name="IConfigurationServiceV40_DeleteConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationServiceV40_EditConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:EditConfig" />
  </wsdl:message>
  <wsdl:message name="IConfigurationServiceV40_EditConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditConfigResponse" />
  </wsdl:message>
  <wsdl:portType name="IConfigurationServiceV40">
    <wsdl:operation name="GetApplicationConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationServiceV40/GetApplicationConfig" message="tns:IConfigurationServiceV40_GetApplicationConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationServiceV40/GetApplicationConfigResponse" message="tns:IConfigurationServiceV40_GetApplicationConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationServiceV40/CreateConfig" message="tns:IConfigurationServiceV40_CreateConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationServiceV40/CreateConfigResponse" message="tns:IConfigurationServiceV40_CreateConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationServiceV40/DeleteConfig" message="tns:IConfigurationServiceV40_DeleteConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationServiceV40/DeleteConfigResponse" message="tns:IConfigurationServiceV40_DeleteConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationServiceV40/EditConfig" message="tns:IConfigurationServiceV40_EditConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationServiceV40/EditConfigResponse" message="tns:IConfigurationServiceV40_EditConfig_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProfileService_Custom" type="tns:IConfigurationServiceV40">
    <wsp:PolicyReference URI="#ProfileService_Custom_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplicationConfig">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationServiceV40/GetApplicationConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateConfig">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationServiceV40/CreateConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteConfig">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationServiceV40/DeleteConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditConfig">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationServiceV40/EditConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigurationService">
    <wsdl:port name="ProfileService_Custom" binding="tns:ProfileService_Custom">
      <soap12:address location="http://localhost:777/Portal/Service/V40/2010021501/ConfigurationService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:777/Portal/Service/V40/2010021501/ConfigurationService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>