02_ECCentral/06_Job_Move/09_Common/SendSMSMessage/SendMessage/Service References/NetShopService/INetShopService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://ws.sms.zhsd.com" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="http://ws.sms.zhsd.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.sms.zhsd.com">
      <xsd:element name="sendMessage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendMessageRequest">
    <wsdl:part name="parameters" element="tns:sendMessage" />
  </wsdl:message>
  <wsdl:message name="sendMessageResponse">
    <wsdl:part name="parameters" element="tns:sendMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="INetShopServicePortType">
    <wsdl:operation name="sendMessage">
      <wsdl:input name="sendMessageRequest" message="tns:sendMessageRequest" />
      <wsdl:output name="sendMessageResponse" message="tns:sendMessageResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="INetShopServiceHttpBinding" type="tns:INetShopServicePortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendMessage">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="sendMessageRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendMessageResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="INetShopService">
    <wsdl:port name="INetShopServiceHttpPort" binding="tns:INetShopServiceHttpBinding">
      <wsdlsoap:address location="http://192.168.1.155:8080/sms_pro/services/INetShopService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>