02_ECCentral/00_SilverlightFramework/Core/ControlPanel.Silverlight.Impl/Service References/CommonService/CommonService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://oversea.newegg.com/Framework/Common/Contract" elementFormDefault="qualified" targetNamespace="http://oversea.newegg.com/Framework/Common/Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DefaultDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Events" nillable="true" type="tns:MessageEventCollection" />
      <xs:element minOccurs="0" name="Faults" nillable="true" type="tns:MessageFaultCollection" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:MessageHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DefaultDataContract" nillable="true" type="tns:DefaultDataContract" />
  <xs:complexType name="MessageEventCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageEvent" nillable="true" type="tns:MessageEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageEventCollection" nillable="true" type="tns:MessageEventCollection" />
  <xs:complexType name="MessageEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Processor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageEvent" nillable="true" type="tns:MessageEvent" />
  <xs:complexType name="MessageFaultCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageFault" nillable="true" type="tns:MessageFault" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageFaultCollection" nillable="true" type="tns:MessageFaultCollection" />
  <xs:complexType name="MessageFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDetail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageFault" nillable="true" type="tns:MessageFault" />
  <xs:complexType name="MessageHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallbackAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GlobalBusinessType" type="tns:GlobalBusinessType" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameSpace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationUser" nillable="true" type="tns:OperationUser" />
      <xs:element minOccurs="0" name="OriginalGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalSender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreCompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageHeader" nillable="true" type="tns:MessageHeader" />
  <xs:simpleType name="GlobalBusinessType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VF" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Listing" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GlobalBusinessType" nillable="true" type="tns:GlobalBusinessType" />
  <xs:complexType name="OperationUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceDirectoryKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueUserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationUser" nillable="true" type="tns:OperationUser" />
</xs:schema>