02_ECCentral/00_SilverlightFramework/Core/ControlPanel.Silverlight.Impl/Service References/CommonService/CommonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:777/Service/Framework/V50/CommonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:777/Service/Framework/V50/CommonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:777/Service/Framework/V50/CommonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" />
      <xsd:import schemaLocation="http://localhost:777/Service/Framework/V50/CommonService.svc?xsd=xsd3" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommonServiceV40_CheckAppVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAppVersion" />
  </wsdl:message>
  <wsdl:message name="ICommonServiceV40_CheckAppVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAppVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonServiceV40_GetFrameworkVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFrameworkVersion" />
  </wsdl:message>
  <wsdl:message name="ICommonServiceV40_GetFrameworkVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFrameworkVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonServiceV40_GetAppParams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppParams" />
  </wsdl:message>
  <wsdl:message name="ICommonServiceV40_GetAppParams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppParamsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommonServiceV40">
    <wsdl:operation name="CheckAppVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonServiceV40/CheckAppVersion" message="tns:ICommonServiceV40_CheckAppVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonServiceV40/CheckAppVersionResponse" message="tns:ICommonServiceV40_CheckAppVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFrameworkVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonServiceV40/GetFrameworkVersion" message="tns:ICommonServiceV40_GetFrameworkVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonServiceV40/GetFrameworkVersionResponse" message="tns:ICommonServiceV40_GetFrameworkVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppParams">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonServiceV40/GetAppParams" message="tns:ICommonServiceV40_GetAppParams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonServiceV40/GetAppParamsResponse" message="tns:ICommonServiceV40_GetAppParams_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommonService" type="tns:ICommonServiceV40">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAppVersion">
      <soap:operation soapAction="http://tempuri.org/ICommonServiceV40/CheckAppVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFrameworkVersion">
      <soap:operation soapAction="http://tempuri.org/ICommonServiceV40/GetFrameworkVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppParams">
      <soap:operation soapAction="http://tempuri.org/ICommonServiceV40/GetAppParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonService">
    <wsdl:port name="CommonService" binding="tns:CommonService">
      <soap:address location="http://localhost:777/Service/Framework/V50/CommonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>