02_ECCentral/00_SilverlightFramework/Core/ControlPanel.Silverlight.Impl/Service References/CommonService/CommonService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:777/Service/Framework/V50/CommonService.svc?xsd=xsd3" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
  <xs:complexType name="AppVersionV40">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://oversea.newegg.com/Framework/Common/Contract" base="q1:DefaultDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ArrayOfXapVersion" />
          <xs:element minOccurs="0" name="ComputerName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AppVersionV40" nillable="true" type="tns:AppVersionV40" />
  <xs:complexType name="ArrayOfXapVersion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="XapVersion" nillable="true" type="tns:XapVersion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfXapVersion" nillable="true" type="tns:ArrayOfXapVersion" />
  <xs:complexType name="XapVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XapName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XapVersion" nillable="true" type="tns:XapVersion" />
  <xs:complexType name="XapVersionV40">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://oversea.newegg.com/Framework/Common/Contract" base="q2:DefaultDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="tns:XapVersion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="XapVersionV40" nillable="true" type="tns:XapVersionV40" />
  <xs:complexType name="AppParamsV41">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://oversea.newegg.com/Framework/Common/Contract" base="q3:DefaultDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="tns:AppParamsMsg" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AppParamsV41" nillable="true" type="tns:AppParamsV41" />
  <xs:complexType name="AppParamsMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientComputerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientIPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FrameworkXapName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GlobalRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerComputerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerIPAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppParamsMsg" nillable="true" type="tns:AppParamsMsg" />
</xs:schema>