02_ECCentral/00_SilverlightFramework/Core/ControlPanel.Silverlight.Impl/Service References/CommonService/CommonService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:777/Service/Framework/V50/CommonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" />
  <xs:element name="CheckAppVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAppVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" minOccurs="0" name="CheckAppVersionResult" nillable="true" type="q1:AppVersionV40" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFrameworkVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFrameworkVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" minOccurs="0" name="GetFrameworkVersionResult" nillable="true" type="q2:XapVersionV40" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppParams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" minOccurs="0" name="GetAppParamsResult" nillable="true" type="q3:AppParamsV41" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>