02_ECCentral/00_SilverlightFramework/Core/ControlPanel.Silverlight.Impl/Service References/ProfileService/ProfileService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:777/Service/Framework/V50/ProfileService.svc?xsd=xsd3" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
  <xs:complexType name="ProfileQueryV40">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://oversea.newegg.com/Framework/Common/Contract" base="q1:DefaultDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ProfileQueryMsg" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProfileQueryV40" nillable="true" type="tns:ProfileQueryV40" />
  <xs:complexType name="ProfileQueryMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileQueryMsg" nillable="true" type="tns:ProfileQueryMsg" />
  <xs:complexType name="ArrayOfUserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserProfile" nillable="true" type="tns:UserProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserProfile" nillable="true" type="tns:ArrayOfUserProfile" />
  <xs:complexType name="UserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfile" nillable="true" type="tns:UserProfile" />
  <xs:complexType name="DataGridProfileDataV40">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://oversea.newegg.com/Framework/Common/Contract" base="q2:DefaultDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ArrayOfDataGridProfileItemMsg" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataGridProfileDataV40" nillable="true" type="tns:DataGridProfileDataV40" />
  <xs:complexType name="ArrayOfDataGridProfileItemMsg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataGridProfileItemMsg" nillable="true" type="tns:DataGridProfileItemMsg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataGridProfileItemMsg" nillable="true" type="tns:ArrayOfDataGridProfileItemMsg" />
  <xs:complexType name="DataGridProfileItemMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataGridProfileXml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="tns:KeystoneAuthUserMsg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataGridProfileItemMsg" nillable="true" type="tns:DataGridProfileItemMsg" />
  <xs:complexType name="KeystoneAuthUserMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeystoneAuthUserMsg" nillable="true" type="tns:KeystoneAuthUserMsg" />
</xs:schema>