02_ECCentral/00_SilverlightFramework/Core/ControlPanel.Silverlight.Impl/Service References/ProfileService/ProfileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProfileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:777/Service/Framework/V50/ProfileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:777/Service/Framework/V50/ProfileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:777/Service/Framework/V50/ProfileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" />
      <xsd:import schemaLocation="http://localhost:777/Service/Framework/V50/ProfileService.svc?xsd=xsd3" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileV40_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IProfileV40_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileV40_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IProfileV40_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileV40_GetDataGridProfileItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataGridProfileItems" />
  </wsdl:message>
  <wsdl:message name="IProfileV40_GetDataGridProfileItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataGridProfileItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfileV40">
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileV40/Query" message="tns:IProfileV40_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileV40/QueryResponse" message="tns:IProfileV40_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileV40/Save" message="tns:IProfileV40_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileV40/SaveResponse" message="tns:IProfileV40_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataGridProfileItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileV40/GetDataGridProfileItems" message="tns:IProfileV40_GetDataGridProfileItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileV40/GetDataGridProfileItemsResponse" message="tns:IProfileV40_GetDataGridProfileItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProfileService" type="tns:IProfileV40">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IProfileV40/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IProfileV40/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataGridProfileItems">
      <soap:operation soapAction="http://tempuri.org/IProfileV40/GetDataGridProfileItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileService">
    <wsdl:port name="ProfileService" binding="tns:ProfileService">
      <soap:address location="http://localhost:777/Service/Framework/V50/ProfileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>