02_ECCentral/00_SilverlightFramework/Core/ControlPanel.Silverlight.Impl/Service References/ProfileService/ProfileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:777/Service/Framework/V50/ProfileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" />
  <xs:import schemaLocation="http://localhost:777/Service/Framework/V50/ProfileService.svc?xsd=xsd3" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" minOccurs="0" name="contract" nillable="true" type="q1:ProfileQueryV40" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://oversea.newegg.com/Framework/Common/Contract" minOccurs="0" name="QueryResult" nillable="true" type="q2:SimpleTypeDataContractOfArrayOfUserProfilep9OHFywk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://oversea.newegg.com/Framework/Common/Contract" minOccurs="0" name="contract" nillable="true" type="q3:SimpleTypeDataContractOfArrayOfUserProfilep9OHFywk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://oversea.newegg.com/Framework/Common/Contract" minOccurs="0" name="SaveResult" nillable="true" type="q4:DefaultDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataGridProfileItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://oversea.newegg.com/Framework/Common/Contract" minOccurs="0" name="guid" nillable="true" type="q5:SimpleTypeDataContractOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataGridProfileItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" minOccurs="0" name="GetDataGridProfileItemsResult" nillable="true" type="q6:DataGridProfileDataV40" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>