02_ECCentral/03_Service/08_Invoice/ECCentral.Service.Invoice.BizProcessor/Service References/IPSPay/IpsCheckTrade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Webservice.ips.com.cn/Sinopay/Standard/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Webservice.ips.com.cn/Sinopay/Standard/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Webservice.ips.com.cn/Sinopay/Standard/">
      <s:complexType name="OrderMsg">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Page" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderRecords" type="tns:ArrayOfOrderRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderRecord" type="tns:OrderRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrderNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPSOrderNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Trd_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cr_Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="MerchantOrderTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPSOrderTime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Flag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Attach" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sign" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RefundMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CanRefundAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="RealRefundAmount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="RefundBillNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TradeBillNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TradeTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sign" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HkMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MerCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IpsBillNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MerBillNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrdType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CrCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrdDoTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrdRealAmt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HKId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HKDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HKStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HKMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HKMemo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sign" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="OrderMsg" type="tns:OrderMsg" />
      <s:element name="RefundMsg" type="tns:RefundMsg" />
      <s:element name="HkMsg" type="tns:HkMsg" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOrderByTimeSoapIn">
    <wsdl:part name="MerCode" type="s:string" />
    <wsdl:part name="Sign" type="s:string" />
    <wsdl:part name="Flag" type="s:int" />
    <wsdl:part name="TradeType" type="s:string" />
    <wsdl:part name="StartTime" type="s:string" />
    <wsdl:part name="EndTime" type="s:string" />
    <wsdl:part name="Page" type="s:int" />
    <wsdl:part name="Max" type="s:int" />
  </wsdl:message>
  <wsdl:message name="GetOrderByTimeSoapOut">
    <wsdl:part name="GetOrderByTimeResult" type="tns:OrderMsg" />
  </wsdl:message>
  <wsdl:message name="GetOrderByNoSoapIn">
    <wsdl:part name="MerCode" type="s:string" />
    <wsdl:part name="Sign" type="s:string" />
    <wsdl:part name="Flag" type="s:int" />
    <wsdl:part name="TradeType" type="s:string" />
    <wsdl:part name="StartNo" type="s:string" />
    <wsdl:part name="EndNo" type="s:string" />
    <wsdl:part name="Page" type="s:int" />
    <wsdl:part name="Max" type="s:int" />
  </wsdl:message>
  <wsdl:message name="GetOrderByNoSoapOut">
    <wsdl:part name="GetOrderByNoResult" type="tns:OrderMsg" />
  </wsdl:message>
  <wsdl:message name="GetOrderByBankNoSoapIn">
    <wsdl:part name="MerCode" type="s:string" />
    <wsdl:part name="Sign" type="s:string" />
    <wsdl:part name="Flag" type="s:int" />
    <wsdl:part name="TradeType" type="s:string" />
    <wsdl:part name="BankNo" type="s:string" />
    <wsdl:part name="Page" type="s:int" />
    <wsdl:part name="Max" type="s:int" />
    <wsdl:part name="StartTime" type="s:string" />
    <wsdl:part name="EndTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetOrderByBankNoSoapOut">
    <wsdl:part name="GetOrderByBankNoResult" type="tns:OrderMsg" />
  </wsdl:message>
  <wsdl:message name="RefundSoapIn">
    <wsdl:part name="MerCode" type="s:string" />
    <wsdl:part name="Sign" type="s:string" />
    <wsdl:part name="MerTime" type="s:string" />
    <wsdl:part name="MerBillno" type="s:string" />
    <wsdl:part name="RefundAmount" type="s:double" />
    <wsdl:part name="RefundMemo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RefundSoapOut">
    <wsdl:part name="RefundResult" type="tns:RefundMsg" />
  </wsdl:message>
  <wsdl:message name="GetHKMsgByNoSoapIn">
    <wsdl:part name="MerCode" type="s:string" />
    <wsdl:part name="IpsBillNo" type="s:string" />
    <wsdl:part name="MerBillNo" type="s:string" />
    <wsdl:part name="TrdType" type="s:string" />
    <wsdl:part name="CrCode" type="s:string" />
    <wsdl:part name="Sign" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHKMsgByNoSoapOut">
    <wsdl:part name="GetHKMsgByNoResult" type="tns:HkMsg" />
  </wsdl:message>
  <wsdl:message name="GetOrderByTimeHttpGetIn">
    <wsdl:part name="MerCode" type="s:string" />
    <wsdl:part name="Sign" type="s:string" />
    <wsdl:part name="Flag" type="s:string" />
    <wsdl:part name="TradeType" type="s:string" />
    <wsdl:part name="StartTime" type="s:string" />
    <wsdl:part name="EndTime" type="s:string" />
    <wsdl:part name="Page" type="s:string" />
    <wsdl:part name="Max" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetOrderByTimeHttpGetOut">
    <wsdl:part name="Body" element="tns:OrderMsg" />
  </wsdl:message>
  <wsdl:message name="GetOrderByNoHttpGetIn">
    <wsdl:part name="MerCode" type="s:string" />
    <wsdl:part name="Sign" type="s:string" />
    <wsdl:part name="Flag" type="s:string" />
    <wsdl:part name="TradeType" type="s:string" />
    <wsdl:part name="StartNo" type="s:string" />
    <wsdl:part name="EndNo" type="s:string" />
    <wsdl:part name="Page" type="s:string" />
    <wsdl:part name="Max" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetOrderByNoHttpGetOut">
    <wsdl:part name="Body" element="tns:OrderMsg" />
  </wsdl:message>
  <wsdl:message name="GetOrderByBankNoHttpGetIn">
    <wsdl:part name="MerCode" type="s:string" />
    <wsdl:part name="Sign" type="s:string" />
    <wsdl:part name="Flag" type="s:string" />
    <wsdl:part name="TradeType" type="s:string" />
    <wsdl:part name="BankNo" type="s:string" />
    <wsdl:part name="Page" type="s:string" />
    <wsdl:part name="Max" type="s:string" />
    <wsdl:part name="StartTime" type="s:string" />
    <wsdl:part name="EndTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetOrderByBankNoHttpGetOut">
    <wsdl:part name="Body" element="tns:OrderMsg" />
  </wsdl:message>
  <wsdl:message name="RefundHttpGetIn">
    <wsdl:part name="MerCode" type="s:string" />
    <wsdl:part name="Sign" type="s:string" />
    <wsdl:part name="MerTime" type="s:string" />
    <wsdl:part name="MerBillno" type="s:string" />
    <wsdl:part name="RefundAmount" type="s:string" />
    <wsdl:part name="RefundMemo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RefundHttpGetOut">
    <wsdl:part name="Body" element="tns:RefundMsg" />
  </wsdl:message>
  <wsdl:message name="GetHKMsgByNoHttpGetIn">
    <wsdl:part name="MerCode" type="s:string" />
    <wsdl:part name="IpsBillNo" type="s:string" />
    <wsdl:part name="MerBillNo" type="s:string" />
    <wsdl:part name="TrdType" type="s:string" />
    <wsdl:part name="CrCode" type="s:string" />
    <wsdl:part name="Sign" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHKMsgByNoHttpGetOut">
    <wsdl:part name="Body" element="tns:HkMsg" />
  </wsdl:message>
  <wsdl:message name="GetOrderByTimeHttpPostIn">
    <wsdl:part name="MerCode" type="s:string" />
    <wsdl:part name="Sign" type="s:string" />
    <wsdl:part name="Flag" type="s:string" />
    <wsdl:part name="TradeType" type="s:string" />
    <wsdl:part name="StartTime" type="s:string" />
    <wsdl:part name="EndTime" type="s:string" />
    <wsdl:part name="Page" type="s:string" />
    <wsdl:part name="Max" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetOrderByTimeHttpPostOut">
    <wsdl:part name="Body" element="tns:OrderMsg" />
  </wsdl:message>
  <wsdl:message name="GetOrderByNoHttpPostIn">
    <wsdl:part name="MerCode" type="s:string" />
    <wsdl:part name="Sign" type="s:string" />
    <wsdl:part name="Flag" type="s:string" />
    <wsdl:part name="TradeType" type="s:string" />
    <wsdl:part name="StartNo" type="s:string" />
    <wsdl:part name="EndNo" type="s:string" />
    <wsdl:part name="Page" type="s:string" />
    <wsdl:part name="Max" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetOrderByNoHttpPostOut">
    <wsdl:part name="Body" element="tns:OrderMsg" />
  </wsdl:message>
  <wsdl:message name="GetOrderByBankNoHttpPostIn">
    <wsdl:part name="MerCode" type="s:string" />
    <wsdl:part name="Sign" type="s:string" />
    <wsdl:part name="Flag" type="s:string" />
    <wsdl:part name="TradeType" type="s:string" />
    <wsdl:part name="BankNo" type="s:string" />
    <wsdl:part name="Page" type="s:string" />
    <wsdl:part name="Max" type="s:string" />
    <wsdl:part name="StartTime" type="s:string" />
    <wsdl:part name="EndTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetOrderByBankNoHttpPostOut">
    <wsdl:part name="Body" element="tns:OrderMsg" />
  </wsdl:message>
  <wsdl:message name="RefundHttpPostIn">
    <wsdl:part name="MerCode" type="s:string" />
    <wsdl:part name="Sign" type="s:string" />
    <wsdl:part name="MerTime" type="s:string" />
    <wsdl:part name="MerBillno" type="s:string" />
    <wsdl:part name="RefundAmount" type="s:string" />
    <wsdl:part name="RefundMemo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RefundHttpPostOut">
    <wsdl:part name="Body" element="tns:RefundMsg" />
  </wsdl:message>
  <wsdl:message name="GetHKMsgByNoHttpPostIn">
    <wsdl:part name="MerCode" type="s:string" />
    <wsdl:part name="IpsBillNo" type="s:string" />
    <wsdl:part name="MerBillNo" type="s:string" />
    <wsdl:part name="TrdType" type="s:string" />
    <wsdl:part name="CrCode" type="s:string" />
    <wsdl:part name="Sign" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHKMsgByNoHttpPostOut">
    <wsdl:part name="Body" element="tns:HkMsg" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetOrderByTime">
      <wsdl:input message="tns:GetOrderByTimeSoapIn" />
      <wsdl:output message="tns:GetOrderByTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderByNo">
      <wsdl:input message="tns:GetOrderByNoSoapIn" />
      <wsdl:output message="tns:GetOrderByNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderByBankNo">
      <wsdl:input message="tns:GetOrderByBankNoSoapIn" />
      <wsdl:output message="tns:GetOrderByBankNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <wsdl:input message="tns:RefundSoapIn" />
      <wsdl:output message="tns:RefundSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHKMsgByNo">
      <wsdl:input message="tns:GetHKMsgByNoSoapIn" />
      <wsdl:output message="tns:GetHKMsgByNoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="GetOrderByTime">
      <wsdl:input message="tns:GetOrderByTimeHttpGetIn" />
      <wsdl:output message="tns:GetOrderByTimeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderByNo">
      <wsdl:input message="tns:GetOrderByNoHttpGetIn" />
      <wsdl:output message="tns:GetOrderByNoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderByBankNo">
      <wsdl:input message="tns:GetOrderByBankNoHttpGetIn" />
      <wsdl:output message="tns:GetOrderByBankNoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <wsdl:input message="tns:RefundHttpGetIn" />
      <wsdl:output message="tns:RefundHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHKMsgByNo">
      <wsdl:input message="tns:GetHKMsgByNoHttpGetIn" />
      <wsdl:output message="tns:GetHKMsgByNoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="GetOrderByTime">
      <wsdl:input message="tns:GetOrderByTimeHttpPostIn" />
      <wsdl:output message="tns:GetOrderByTimeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderByNo">
      <wsdl:input message="tns:GetOrderByNoHttpPostIn" />
      <wsdl:output message="tns:GetOrderByNoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderByBankNo">
      <wsdl:input message="tns:GetOrderByBankNoHttpPostIn" />
      <wsdl:output message="tns:GetOrderByBankNoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <wsdl:input message="tns:RefundHttpPostIn" />
      <wsdl:output message="tns:RefundHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHKMsgByNo">
      <wsdl:input message="tns:GetHKMsgByNoHttpPostIn" />
      <wsdl:output message="tns:GetHKMsgByNoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderByTime">
      <soap:operation soapAction="http://Webservice.ips.com.cn/Sinopay/Standard/GetOrderByTime" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByNo">
      <soap:operation soapAction="http://Webservice.ips.com.cn/Sinopay/Standard/GetOrderByNo" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByBankNo">
      <soap:operation soapAction="http://Webservice.ips.com.cn/Sinopay/Standard/GetOrderByBankNo" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <soap:operation soapAction="http://Webservice.ips.com.cn/Sinopay/Standard/Refund" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHKMsgByNo">
      <soap:operation soapAction="http://Webservice.ips.com.cn/Sinopay/Standard/GetHKMsgByNo" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderByTime">
      <soap12:operation soapAction="http://Webservice.ips.com.cn/Sinopay/Standard/GetOrderByTime" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByNo">
      <soap12:operation soapAction="http://Webservice.ips.com.cn/Sinopay/Standard/GetOrderByNo" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByBankNo">
      <soap12:operation soapAction="http://Webservice.ips.com.cn/Sinopay/Standard/GetOrderByBankNo" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <soap12:operation soapAction="http://Webservice.ips.com.cn/Sinopay/Standard/Refund" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHKMsgByNo">
      <soap12:operation soapAction="http://Webservice.ips.com.cn/Sinopay/Standard/GetHKMsgByNo" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://Webservice.ips.com.cn/Sinopay/Standard/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetOrderByTime">
      <http:operation location="/GetOrderByTime" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByNo">
      <http:operation location="/GetOrderByNo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByBankNo">
      <http:operation location="/GetOrderByBankNo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <http:operation location="/Refund" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHKMsgByNo">
      <http:operation location="/GetHKMsgByNo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetOrderByTime">
      <http:operation location="/GetOrderByTime" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByNo">
      <http:operation location="/GetOrderByNo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByBankNo">
      <http:operation location="/GetOrderByBankNo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <http:operation location="/Refund" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHKMsgByNo">
      <http:operation location="/GetHKMsgByNo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://webservice.ips.com.cn/Sinopay/Standard/IpsCheckTrade.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://webservice.ips.com.cn/Sinopay/Standard/IpsCheckTrade.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://webservice.ips.com.cn/Sinopay/Standard/IpsCheckTrade.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://webservice.ips.com.cn/Sinopay/Standard/IpsCheckTrade.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>