02_ECCentral/06_Job_Move/09_Common/SendSMSMessage/SendMessage/Service References/SMSService/SMSmt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="time" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtsystem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="time" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtsystemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtsystemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtmessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="time" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtmessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtmessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="balance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="balanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="balanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChargUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardon" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardpwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChargUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChargUpResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="gxmt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="time" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="gxmtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gxmtResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AW_GB2312">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AW_GB2312Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AW_GB2312Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MW_GB2312">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MW_GB2312Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MW_GB2312Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mtSoapIn">
    <wsdl:part name="parameters" element="tns:mt" />
  </wsdl:message>
  <wsdl:message name="mtSoapOut">
    <wsdl:part name="parameters" element="tns:mtResponse" />
  </wsdl:message>
  <wsdl:message name="mtsystemSoapIn">
    <wsdl:part name="parameters" element="tns:mtsystem" />
  </wsdl:message>
  <wsdl:message name="mtsystemSoapOut">
    <wsdl:part name="parameters" element="tns:mtsystemResponse" />
  </wsdl:message>
  <wsdl:message name="mtmessageSoapIn">
    <wsdl:part name="parameters" element="tns:mtmessage" />
  </wsdl:message>
  <wsdl:message name="mtmessageSoapOut">
    <wsdl:part name="parameters" element="tns:mtmessageResponse" />
  </wsdl:message>
  <wsdl:message name="balanceSoapIn">
    <wsdl:part name="parameters" element="tns:balance" />
  </wsdl:message>
  <wsdl:message name="balanceSoapOut">
    <wsdl:part name="parameters" element="tns:balanceResponse" />
  </wsdl:message>
  <wsdl:message name="ChargUpSoapIn">
    <wsdl:part name="parameters" element="tns:ChargUp" />
  </wsdl:message>
  <wsdl:message name="ChargUpSoapOut">
    <wsdl:part name="parameters" element="tns:ChargUpResponse" />
  </wsdl:message>
  <wsdl:message name="gxmtSoapIn">
    <wsdl:part name="parameters" element="tns:gxmt" />
  </wsdl:message>
  <wsdl:message name="gxmtSoapOut">
    <wsdl:part name="parameters" element="tns:gxmtResponse" />
  </wsdl:message>
  <wsdl:message name="AW_GB2312SoapIn">
    <wsdl:part name="parameters" element="tns:AW_GB2312" />
  </wsdl:message>
  <wsdl:message name="AW_GB2312SoapOut">
    <wsdl:part name="parameters" element="tns:AW_GB2312Response" />
  </wsdl:message>
  <wsdl:message name="MW_GB2312SoapIn">
    <wsdl:part name="parameters" element="tns:MW_GB2312" />
  </wsdl:message>
  <wsdl:message name="MW_GB2312SoapOut">
    <wsdl:part name="parameters" element="tns:MW_GB2312Response" />
  </wsdl:message>
  <wsdl:portType name="ServiceSmsSoap">
    <wsdl:operation name="mt">
      <wsdl:input message="tns:mtSoapIn" />
      <wsdl:output message="tns:mtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtsystem">
      <wsdl:input message="tns:mtsystemSoapIn" />
      <wsdl:output message="tns:mtsystemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtmessage">
      <wsdl:input message="tns:mtmessageSoapIn" />
      <wsdl:output message="tns:mtmessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="balance">
      <wsdl:input message="tns:balanceSoapIn" />
      <wsdl:output message="tns:balanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChargUp">
      <wsdl:input message="tns:ChargUpSoapIn" />
      <wsdl:output message="tns:ChargUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="gxmt">
      <wsdl:input message="tns:gxmtSoapIn" />
      <wsdl:output message="tns:gxmtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AW_GB2312">
      <wsdl:input message="tns:AW_GB2312SoapIn" />
      <wsdl:output message="tns:AW_GB2312SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MW_GB2312">
      <wsdl:input message="tns:MW_GB2312SoapIn" />
      <wsdl:output message="tns:MW_GB2312SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSmsSoap" type="tns:ServiceSmsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mt">
      <soap:operation soapAction="http://tempuri.org/mt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtsystem">
      <soap:operation soapAction="http://tempuri.org/mtsystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtmessage">
      <soap:operation soapAction="http://tempuri.org/mtmessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="balance">
      <soap:operation soapAction="http://tempuri.org/balance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChargUp">
      <soap:operation soapAction="http://tempuri.org/ChargUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gxmt">
      <soap:operation soapAction="http://tempuri.org/gxmt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AW_GB2312">
      <soap:operation soapAction="http://tempuri.org/AW_GB2312" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MW_GB2312">
      <soap:operation soapAction="http://tempuri.org/MW_GB2312" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSmsSoap12" type="tns:ServiceSmsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mt">
      <soap12:operation soapAction="http://tempuri.org/mt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtsystem">
      <soap12:operation soapAction="http://tempuri.org/mtsystem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtmessage">
      <soap12:operation soapAction="http://tempuri.org/mtmessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="balance">
      <soap12:operation soapAction="http://tempuri.org/balance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChargUp">
      <soap12:operation soapAction="http://tempuri.org/ChargUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gxmt">
      <soap12:operation soapAction="http://tempuri.org/gxmt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AW_GB2312">
      <soap12:operation soapAction="http://tempuri.org/AW_GB2312" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MW_GB2312">
      <soap12:operation soapAction="http://tempuri.org/MW_GB2312" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSms">
    <wsdl:port name="ServiceSmsSoap" binding="tns:ServiceSmsSoap">
      <soap:address location="http://172.16.101.4/smsreport/SMSmt.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSmsSoap12" binding="tns:ServiceSmsSoap12">
      <soap12:address location="http://172.16.101.4/smsreport/SMSmt.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>