02_ECCentral/00_SilverlightFramework/Domain/CommonDomain/Service References/MaintainLogConfigService/MaintainLogConfigService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://oversea.newegg.com/LoggingService/ServiceContracts" elementFormDefault="qualified" targetNamespace="http://oversea.newegg.com/LoggingService/ServiceContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/MaintainLogConfigService.svc?xsd=xsd2" namespace="http://oversea.newegg.com/LoggingService/DataContracts" />
  <xs:element name="CreateLogCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="logCategory" nillable="true" type="q1:LogCategoryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLogCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="CreateLogCategoryResult" nillable="true" type="q2:LogCategoryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLogCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="logCategory" nillable="true" type="q3:LogCategoryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLogCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="EditLogCategoryResult" nillable="true" type="q4:LogCategoryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGlobalRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="logGlobalRegion" nillable="true" type="q5:LogGlobalRegionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGlobalRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="CreateGlobalRegionResult" nillable="true" type="q6:LogGlobalRegionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGlobalRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="logGlobalRegion" nillable="true" type="q7:LogGlobalRegionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGlobalRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="EditGlobalRegionResult" nillable="true" type="q8:LogGlobalRegionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLocalRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="logLocalRegion" nillable="true" type="q9:LogLocalRegionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLocalRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="CreateLocalRegionResult" nillable="true" type="q10:LogLocalRegionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLocalRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="logLocalRegion" nillable="true" type="q11:LogLocalRegionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLocalRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="EditLocalRegionResult" nillable="true" type="q12:LogLocalRegionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>