02_ECCentral/00_SilverlightFramework/Domain/CommonDomain/Service References/MaintainLogConfigService/MaintainLogConfigService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://oversea.newegg.com/LoggingService/ServiceContracts" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MaintainLogConfigService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://oversea.newegg.com/LoggingService/ServiceContracts" location="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/MaintainLogConfigService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IMaintainLogConfig" type="i0:IMaintainLogConfig">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateLogCategory">
      <soap:operation soapAction="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/CreateLogCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditLogCategory">
      <soap:operation soapAction="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/EditLogCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGlobalRegion">
      <soap:operation soapAction="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/CreateGlobalRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditGlobalRegion">
      <soap:operation soapAction="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/EditGlobalRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLocalRegion">
      <soap:operation soapAction="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/CreateLocalRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditLocalRegion">
      <soap:operation soapAction="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/EditLocalRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaintainLogConfigService">
    <wsdl:port name="BasicHttpBinding_IMaintainLogConfig" binding="tns:BasicHttpBinding_IMaintainLogConfig">
      <soap:address location="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/MaintainLogConfigService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>