02_ECCentral/00_SilverlightFramework/Domain/CommonDomain/Service References/MaintainLogConfigService/MaintainLogConfigService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://oversea.newegg.com/LoggingService/ServiceContracts" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://oversea.newegg.com/LoggingService/ServiceContracts" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://oversea.newegg.com/LoggingService/ServiceContracts/Imports">
      <xsd:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/MaintainLogConfigService.svc?xsd=xsd0" namespace="http://oversea.newegg.com/LoggingService/ServiceContracts" />
      <xsd:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/MaintainLogConfigService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/MaintainLogConfigService.svc?xsd=xsd2" namespace="http://oversea.newegg.com/LoggingService/DataContracts" />
      <xsd:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/MaintainLogConfigService.svc?xsd=xsd3" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMaintainLogConfig_CreateLogCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLogCategory" />
  </wsdl:message>
  <wsdl:message name="IMaintainLogConfig_CreateLogCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLogCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintainLogConfig_EditLogCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:EditLogCategory" />
  </wsdl:message>
  <wsdl:message name="IMaintainLogConfig_EditLogCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditLogCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintainLogConfig_CreateGlobalRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGlobalRegion" />
  </wsdl:message>
  <wsdl:message name="IMaintainLogConfig_CreateGlobalRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGlobalRegionResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintainLogConfig_EditGlobalRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:EditGlobalRegion" />
  </wsdl:message>
  <wsdl:message name="IMaintainLogConfig_EditGlobalRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditGlobalRegionResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintainLogConfig_CreateLocalRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLocalRegion" />
  </wsdl:message>
  <wsdl:message name="IMaintainLogConfig_CreateLocalRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLocalRegionResponse" />
  </wsdl:message>
  <wsdl:message name="IMaintainLogConfig_EditLocalRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:EditLocalRegion" />
  </wsdl:message>
  <wsdl:message name="IMaintainLogConfig_EditLocalRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditLocalRegionResponse" />
  </wsdl:message>
  <wsdl:portType name="IMaintainLogConfig">
    <wsdl:operation name="CreateLogCategory">
      <wsdl:input wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/CreateLogCategory" message="tns:IMaintainLogConfig_CreateLogCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/CreateLogCategoryResponse" message="tns:IMaintainLogConfig_CreateLogCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditLogCategory">
      <wsdl:input wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/EditLogCategory" message="tns:IMaintainLogConfig_EditLogCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/EditLogCategoryResponse" message="tns:IMaintainLogConfig_EditLogCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGlobalRegion">
      <wsdl:input wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/CreateGlobalRegion" message="tns:IMaintainLogConfig_CreateGlobalRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/CreateGlobalRegionResponse" message="tns:IMaintainLogConfig_CreateGlobalRegion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditGlobalRegion">
      <wsdl:input wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/EditGlobalRegion" message="tns:IMaintainLogConfig_EditGlobalRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/EditGlobalRegionResponse" message="tns:IMaintainLogConfig_EditGlobalRegion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLocalRegion">
      <wsdl:input wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/CreateLocalRegion" message="tns:IMaintainLogConfig_CreateLocalRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/CreateLocalRegionResponse" message="tns:IMaintainLogConfig_CreateLocalRegion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditLocalRegion">
      <wsdl:input wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/EditLocalRegion" message="tns:IMaintainLogConfig_EditLocalRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IMaintainLogConfig/EditLocalRegionResponse" message="tns:IMaintainLogConfig_EditLocalRegion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>