02_ECCentral/00_SilverlightFramework/Core/ControlPanel.Silverlight.Impl/Service References/KeystoneAuthService/KeystoneAuthService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:777/Service/Framework/V50/KeystoneAuthService.svc?xsd=xsd2" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
  <xs:import schemaLocation="http://localhost:777/Service/Framework/V50/KeystoneAuthService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="KeystoneAuthDataV41">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://oversea.newegg.com/Framework/Common/Contract" base="q1:DefaultDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="tns:KeystoneAuthDataMsg" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KeystoneAuthDataV41" nillable="true" type="tns:KeystoneAuthDataV41" />
  <xs:complexType name="KeystoneAuthDataMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="Application" nillable="true" type="tns:AuthApplicationMsg" />
      <xs:element minOccurs="0" name="AuthUser" nillable="true" type="tns:KeystoneAuthUserMsg" />
      <xs:element minOccurs="0" name="Functions" nillable="true" type="tns:ArrayOfAuthFunctionMsg" />
      <xs:element minOccurs="0" name="KS_Applications" nillable="true" type="tns:ArrayOfKS_ApplicationMsg" />
      <xs:element minOccurs="0" name="MenuData" nillable="true" type="tns:ArrayOfAuthMenuItemMsg" />
      <xs:element minOccurs="0" name="RoleAttributes" nillable="true" type="tns:ArrayOfRoleAttribute" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeystoneAuthDataMsg" nillable="true" type="tns:KeystoneAuthDataMsg" />
  <xs:complexType name="AuthApplicationMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefaultLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthApplicationMsg" nillable="true" type="tns:AuthApplicationMsg" />
  <xs:complexType name="KeystoneAuthUserMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeystoneAuthUserMsg" nillable="true" type="tns:KeystoneAuthUserMsg" />
  <xs:complexType name="ArrayOfAuthFunctionMsg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthFunctionMsg" nillable="true" type="tns:AuthFunctionMsg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthFunctionMsg" nillable="true" type="tns:ArrayOfAuthFunctionMsg" />
  <xs:complexType name="AuthFunctionMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthFunctionMsg" nillable="true" type="tns:AuthFunctionMsg" />
  <xs:complexType name="ArrayOfKS_ApplicationMsg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KS_ApplicationMsg" nillable="true" type="tns:KS_ApplicationMsg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKS_ApplicationMsg" nillable="true" type="tns:ArrayOfKS_ApplicationMsg" />
  <xs:complexType name="KS_ApplicationMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KS_ApplicationMsg" nillable="true" type="tns:KS_ApplicationMsg" />
  <xs:complexType name="ArrayOfAuthMenuItemMsg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthMenuItemMsg" nillable="true" type="tns:AuthMenuItemMsg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthMenuItemMsg" nillable="true" type="tns:ArrayOfAuthMenuItemMsg" />
  <xs:complexType name="AuthMenuItemMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconStyle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDisplay" type="xs:boolean" />
      <xs:element minOccurs="0" name="LinkPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentMenuId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:MenuTypeEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthMenuItemMsg" nillable="true" type="tns:AuthMenuItemMsg" />
  <xs:simpleType name="MenuTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Category" />
      <xs:enumeration value="Page" />
      <xs:enumeration value="Link" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MenuTypeEnum" nillable="true" type="tns:MenuTypeEnum" />
  <xs:complexType name="ArrayOfRoleAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleAttribute" nillable="true" type="tns:RoleAttribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleAttribute" nillable="true" type="tns:ArrayOfRoleAttribute" />
  <xs:complexType name="RoleAttribute">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:KeystoneAttribute">
        <xs:sequence>
          <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoleAttribute" nillable="true" type="tns:RoleAttribute" />
  <xs:complexType name="KeystoneAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeystoneAttribute" nillable="true" type="tns:KeystoneAttribute" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="AuthUserQueryV41">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://oversea.newegg.com/Framework/Common/Contract" base="q2:DefaultDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="tns:AuthUserQueryMsg" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthUserQueryV41" nillable="true" type="tns:AuthUserQueryV41" />
  <xs:complexType name="AuthUserQueryMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FunctionNames" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthUserQueryMsg" nillable="true" type="tns:AuthUserQueryMsg" />
  <xs:complexType name="AuthUserListV41">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://oversea.newegg.com/Framework/Common/Contract" base="q4:DefaultDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ArrayOfAuthUserMsg" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthUserListV41" nillable="true" type="tns:AuthUserListV41" />
  <xs:complexType name="ArrayOfAuthUserMsg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthUserMsg" nillable="true" type="tns:AuthUserMsg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthUserMsg" nillable="true" type="tns:ArrayOfAuthUserMsg" />
  <xs:complexType name="AuthUserMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthUserMsg" nillable="true" type="tns:AuthUserMsg" />
  <xs:complexType name="KeystoneAuthUserV41">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://oversea.newegg.com/Framework/Common/Contract" base="q5:DefaultDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="tns:KeystoneAuthUserMsg" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KeystoneAuthUserV41" nillable="true" type="tns:KeystoneAuthUserV41" />
  <xs:complexType name="KeystoneAuthUserListV41">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://oversea.newegg.com/Framework/Common/Contract" base="q6:DefaultDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ArrayOfKeystoneAuthUserMsg" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KeystoneAuthUserListV41" nillable="true" type="tns:KeystoneAuthUserListV41" />
  <xs:complexType name="ArrayOfKeystoneAuthUserMsg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeystoneAuthUserMsg" nillable="true" type="tns:KeystoneAuthUserMsg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeystoneAuthUserMsg" nillable="true" type="tns:ArrayOfKeystoneAuthUserMsg" />
</xs:schema>