02_ECCentral/00_SilverlightFramework/Core/ControlPanel.Silverlight.Impl/Service References/KeystoneAuthService/KeystoneAuthService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:777/Service/Framework/V50/KeystoneAuthService.svc?xsd=xsd2" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
  <xs:import schemaLocation="http://localhost:777/Service/Framework/V50/KeystoneAuthService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" />
  <xs:import schemaLocation="http://localhost:777/Service/Framework/V50/KeystoneAuthService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAuthData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://oversea.newegg.com/Framework/Common/Contract" minOccurs="0" name="msg" nillable="true" type="q1:DefaultDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" minOccurs="0" name="GetAuthDataResult" nillable="true" type="q2:KeystoneAuthDataV41" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthUserByRoleName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" minOccurs="0" name="msg" nillable="true" type="q3:AuthUserQueryV41" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthUserByRoleNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" minOccurs="0" name="GetAuthUserByRoleNameResult" nillable="true" type="q4:AuthUserListV41" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthUserByFunctionName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" minOccurs="0" name="msg" nillable="true" type="q5:AuthUserQueryV41" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthUserByFunctionNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" minOccurs="0" name="GetAuthUserByFunctionNameResult" nillable="true" type="q6:AuthUserListV41" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://oversea.newegg.com/Framework/Common/Contract" minOccurs="0" name="LogoutResult" nillable="true" type="q7:DefaultDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" minOccurs="0" name="msg" nillable="true" type="q8:KeystoneAuthUserV41" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" minOccurs="0" name="LoginResult" nillable="true" type="q9:KeystoneAuthDataV41" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://oversea.newegg.com/Framework/Common/Contract" minOccurs="0" name="msg" nillable="true" type="q10:DefaultDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" minOccurs="0" name="AutoLoginResult" nillable="true" type="q11:KeystoneAuthDataV41" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchGetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIDList" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchGetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" minOccurs="0" name="BatchGetUserInfoResult" nillable="true" type="q13:KeystoneAuthUserListV41" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>