02_ECCentral/00_SilverlightFramework/Core/ControlPanel.Silverlight.Impl/Service References/KeystoneAuthService/KeystoneAuthService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KeystoneAuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:777/Service/Framework/V50/KeystoneAuthService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:777/Service/Framework/V50/KeystoneAuthService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:777/Service/Framework/V50/KeystoneAuthService.svc?xsd=xsd2" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
      <xsd:import schemaLocation="http://localhost:777/Service/Framework/V50/KeystoneAuthService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.DataContracts" />
      <xsd:import schemaLocation="http://localhost:777/Service/Framework/V50/KeystoneAuthService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKeystoneAuthV41_GetAuthData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthData" />
  </wsdl:message>
  <wsdl:message name="IKeystoneAuthV41_GetAuthData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthDataResponse" />
  </wsdl:message>
  <wsdl:message name="IKeystoneAuthV41_GetAuthUserByRoleName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthUserByRoleName" />
  </wsdl:message>
  <wsdl:message name="IKeystoneAuthV41_GetAuthUserByRoleName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthUserByRoleNameResponse" />
  </wsdl:message>
  <wsdl:message name="IKeystoneAuthV41_GetAuthUserByFunctionName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthUserByFunctionName" />
  </wsdl:message>
  <wsdl:message name="IKeystoneAuthV41_GetAuthUserByFunctionName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthUserByFunctionNameResponse" />
  </wsdl:message>
  <wsdl:message name="IKeystoneAuthV41_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IKeystoneAuthV41_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IKeystoneAuthV41_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IKeystoneAuthV41_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IKeystoneAuthV41_AutoLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AutoLogin" />
  </wsdl:message>
  <wsdl:message name="IKeystoneAuthV41_AutoLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutoLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IKeystoneAuthV41_BatchGetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:BatchGetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IKeystoneAuthV41_BatchGetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BatchGetUserInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IKeystoneAuthV41">
    <wsdl:operation name="GetAuthData">
      <wsdl:input wsaw:Action="http://tempuri.org/IKeystoneAuthV41/GetAuthData" message="tns:IKeystoneAuthV41_GetAuthData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKeystoneAuthV41/GetAuthDataResponse" message="tns:IKeystoneAuthV41_GetAuthData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthUserByRoleName">
      <wsdl:input wsaw:Action="http://tempuri.org/IKeystoneAuthV41/GetAuthUserByRoleName" message="tns:IKeystoneAuthV41_GetAuthUserByRoleName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKeystoneAuthV41/GetAuthUserByRoleNameResponse" message="tns:IKeystoneAuthV41_GetAuthUserByRoleName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthUserByFunctionName">
      <wsdl:input wsaw:Action="http://tempuri.org/IKeystoneAuthV41/GetAuthUserByFunctionName" message="tns:IKeystoneAuthV41_GetAuthUserByFunctionName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKeystoneAuthV41/GetAuthUserByFunctionNameResponse" message="tns:IKeystoneAuthV41_GetAuthUserByFunctionName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IKeystoneAuthV41/Logout" message="tns:IKeystoneAuthV41_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKeystoneAuthV41/LogoutResponse" message="tns:IKeystoneAuthV41_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IKeystoneAuthV41/Login" message="tns:IKeystoneAuthV41_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKeystoneAuthV41/LoginResponse" message="tns:IKeystoneAuthV41_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutoLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IKeystoneAuthV41/AutoLogin" message="tns:IKeystoneAuthV41_AutoLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKeystoneAuthV41/AutoLoginResponse" message="tns:IKeystoneAuthV41_AutoLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BatchGetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IKeystoneAuthV41/BatchGetUserInfo" message="tns:IKeystoneAuthV41_BatchGetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKeystoneAuthV41/BatchGetUserInfoResponse" message="tns:IKeystoneAuthV41_BatchGetUserInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KeystoneAuthService" type="tns:IKeystoneAuthV41">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthData">
      <soap:operation soapAction="http://tempuri.org/IKeystoneAuthV41/GetAuthData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthUserByRoleName">
      <soap:operation soapAction="http://tempuri.org/IKeystoneAuthV41/GetAuthUserByRoleName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthUserByFunctionName">
      <soap:operation soapAction="http://tempuri.org/IKeystoneAuthV41/GetAuthUserByFunctionName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IKeystoneAuthV41/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IKeystoneAuthV41/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoLogin">
      <soap:operation soapAction="http://tempuri.org/IKeystoneAuthV41/AutoLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchGetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IKeystoneAuthV41/BatchGetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KeystoneAuthService">
    <wsdl:port name="KeystoneAuthService" binding="tns:KeystoneAuthService">
      <soap:address location="http://localhost:777/Service/Framework/V50/KeystoneAuthService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>