02_ECCentral/00_SilverlightFramework/Core/ControlPanel.Silverlight.Impl/Service References/ConfigurationService/ConfigurationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:777/Service/Framework/V50/ConfigurationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces" />
  <xs:element name="GetApplicationConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces" minOccurs="0" name="GetApplicationConfigResult" nillable="true" type="q1:ArrayOfConfigKeyValueMsg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces" minOccurs="0" name="msg" nillable="true" type="q2:ConfigKeyValueV40" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces" minOccurs="0" name="CreateConfigResult" nillable="true" type="q3:ConfigKeyValueV40" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces" minOccurs="0" name="msg" nillable="true" type="q4:ConfigKeyValueV40" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces" minOccurs="0" name="DeleteConfigResult" nillable="true" type="q5:ConfigKeyValueV40" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces" minOccurs="0" name="msg" nillable="true" type="q6:ConfigKeyValueV40" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces" minOccurs="0" name="EditConfigResult" nillable="true" type="q7:ConfigKeyValueV40" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetECCentralConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetECCentralConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Newegg.Oversea.Silverlight.ControlPanel.Service.ServiceInterfaces" minOccurs="0" name="GetECCentralConfigResult" nillable="true" type="q8:ECCentralMsg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>