02_ECCentral/00_SilverlightFramework/Domain/CommonDomain/Service References/QueryLogService/QueryLogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://oversea.newegg.com/LoggingService/ServiceContracts" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://oversea.newegg.com/LoggingService/ServiceContracts" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://oversea.newegg.com/LoggingService/ServiceContracts/Imports">
      <xsd:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/QueryLogService.svc?xsd=xsd0" namespace="http://oversea.newegg.com/LoggingService/ServiceContracts" />
      <xsd:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/QueryLogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/QueryLogService.svc?xsd=xsd2" namespace="http://oversea.newegg.com/LoggingService/DataContracts" />
      <xsd:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/QueryLogService.svc?xsd=xsd3" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
      <xsd:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/QueryLogService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQueryLogEntry_GetLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogs" />
  </wsdl:message>
  <wsdl:message name="IQueryLogEntry_GetLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogsResponse" />
  </wsdl:message>
  <wsdl:message name="IQueryLogEntry_GetLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLog" />
  </wsdl:message>
  <wsdl:message name="IQueryLogEntry_GetLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogResponse" />
  </wsdl:message>
  <wsdl:message name="IQueryLogEntry_QueryLogReport_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryLogReport" />
  </wsdl:message>
  <wsdl:message name="IQueryLogEntry_QueryLogReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryLogReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IQueryLogEntry">
    <wsdl:operation name="GetLogs">
      <wsdl:input wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IQueryLogEntry/GetLogs" message="tns:IQueryLogEntry_GetLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IQueryLogEntry/GetLogsResponse" message="tns:IQueryLogEntry_GetLogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <wsdl:input wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IQueryLogEntry/GetLog" message="tns:IQueryLogEntry_GetLog_InputMessage" />
      <wsdl:output wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IQueryLogEntry/GetLogResponse" message="tns:IQueryLogEntry_GetLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryLogReport">
      <wsdl:input wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IQueryLogEntry/QueryLogReport" message="tns:IQueryLogEntry_QueryLogReport_InputMessage" />
      <wsdl:output wsaw:Action="http://oversea.newegg.com/LoggingService/ServiceContracts/IQueryLogEntry/QueryLogReportResponse" message="tns:IQueryLogEntry_QueryLogReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>