02_ECCentral/00_SilverlightFramework/Domain/CommonDomain/Service References/QueryLogService/QueryLogService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://oversea.newegg.com/LoggingService/ServiceContracts" elementFormDefault="qualified" targetNamespace="http://oversea.newegg.com/LoggingService/ServiceContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/QueryLogService.svc?xsd=xsd2" namespace="http://oversea.newegg.com/LoggingService/DataContracts" />
  <xs:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/QueryLogService.svc?xsd=xsd3" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
  <xs:element name="GetLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="criteria" nillable="true" type="q1:LogQueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://oversea.newegg.com/Framework/Common/Contract" minOccurs="0" name="GetLogsResult" nillable="true" type="q2:QueryResultContractOfArrayOfLogEntryBodyQchP0p9w" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="GetLogResult" nillable="true" type="q3:LogEntryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryLogReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="criteria" nillable="true" type="q4:LogQueryReportCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryLogReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://oversea.newegg.com/Framework/Common/Contract" minOccurs="0" name="QueryLogReportResult" nillable="true" type="q5:QueryResultContractOfArrayOfLogReportItemQchP0p9w" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>