02_ECCentral/00_SilverlightFramework/Domain/CommonDomain/Service References/QueryLogService/QueryLogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://oversea.newegg.com/LoggingService/DataContracts" elementFormDefault="qualified" targetNamespace="http://oversea.newegg.com/LoggingService/DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/QueryLogService.svc?xsd=xsd3" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
  <xs:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/QueryLogService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="LogQueryCriteria">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://oversea.newegg.com/Framework/Common/Contract" base="q1:DefaultQueryContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="From" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="GlobalID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GlobalName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocalID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocalName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LogID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LogType" nillable="true" type="tns:LogType" />
          <xs:element minOccurs="0" name="ReferenceKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="To" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LogQueryCriteria" nillable="true" type="tns:LogQueryCriteria" />
  <xs:simpleType name="LogType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Info" />
      <xs:enumeration value="Trace" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Debug" />
      <xs:enumeration value="Audit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LogType" nillable="true" type="tns:LogType" />
  <xs:complexType name="ArrayOfLogEntryBody">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogEntryBody" nillable="true" type="tns:LogEntryBody" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogEntryBody" nillable="true" type="tns:ArrayOfLogEntryBody" />
  <xs:complexType name="LogEntryBody">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExtendedProperties" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="GlobalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GlobalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogCreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogServerIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogType" type="tns:LogType" />
      <xs:element minOccurs="0" name="LogUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogEntryBody" nillable="true" type="tns:LogEntryBody" />
  <xs:complexType name="LogEntryContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://oversea.newegg.com/Framework/Common/Contract" base="q3:DefaultDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="tns:LogEntryBody" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LogEntryContract" nillable="true" type="tns:LogEntryContract" />
  <xs:complexType name="LogQueryReportCriteria">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://oversea.newegg.com/Framework/Common/Contract" base="q4:DefaultDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryLogType" nillable="true" type="tns:LogType" />
          <xs:element minOccurs="0" name="From" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="GlobalID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="To" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LogQueryReportCriteria" nillable="true" type="tns:LogQueryReportCriteria" />
  <xs:complexType name="ArrayOfLogReportItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogReportItem" nillable="true" type="tns:LogReportItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogReportItem" nillable="true" type="tns:ArrayOfLogReportItem" />
  <xs:complexType name="LogReportItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogQuantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogReportItem" nillable="true" type="tns:LogReportItem" />
</xs:schema>