02_ECCentral/00_SilverlightFramework/Domain/CommonDomain/Service References/QueryLogConfigService/QueryLogConfigService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://oversea.newegg.com/LoggingService/DataContracts" elementFormDefault="qualified" targetNamespace="http://oversea.newegg.com/LoggingService/DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/QueryLogConfigService.svc?xsd=xsd3" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
  <xs:complexType name="LogCategoryQueryCriteria">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://oversea.newegg.com/Framework/Common/Contract" base="q1:DefaultQueryContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GlobalID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocalID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LogType" nillable="true" type="tns:LogType" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="tns:Status" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LogCategoryQueryCriteria" nillable="true" type="tns:LogCategoryQueryCriteria" />
  <xs:simpleType name="LogType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Info" />
      <xs:enumeration value="Trace" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Debug" />
      <xs:enumeration value="Audit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LogType" nillable="true" type="tns:LogType" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active" />
      <xs:enumeration value="Inactive" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="ArrayOfLogCategoryBody">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogCategoryBody" nillable="true" type="tns:LogCategoryBody" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogCategoryBody" nillable="true" type="tns:ArrayOfLogCategoryBody" />
  <xs:complexType name="LogCategoryBody">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailNotification" nillable="true" type="tns:EmailNotificationConfig" />
      <xs:element minOccurs="0" name="EnableRemoveLog" type="xs:boolean" />
      <xs:element minOccurs="0" name="GlobalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GlobalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogType" type="tns:LogType" />
      <xs:element minOccurs="0" name="RemoveOverDays" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogCategoryBody" nillable="true" type="tns:LogCategoryBody" />
  <xs:complexType name="EmailNotificationConfig">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationConfigContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FilterDuplicate" type="xs:boolean" />
          <xs:element minOccurs="0" name="Interval" type="xs:int" />
          <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailNotificationConfig" nillable="true" type="tns:EmailNotificationConfig" />
  <xs:complexType name="NotificationConfigContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="NeedNotify" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationConfigContract" nillable="true" type="tns:NotificationConfigContract" />
  <xs:complexType name="LogGlobalQueryCriteria">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://oversea.newegg.com/Framework/Common/Contract" base="q2:DefaultDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="GlobalID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GlobalRegionStatus" nillable="true" type="tns:Status" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LogGlobalQueryCriteria" nillable="true" type="tns:LogGlobalQueryCriteria" />
  <xs:complexType name="ArrayOfLogGlobalRegionBody">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogGlobalRegionBody" nillable="true" type="tns:LogGlobalRegionBody" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogGlobalRegionBody" nillable="true" type="tns:ArrayOfLogGlobalRegionBody" />
  <xs:complexType name="LogGlobalRegionBody">
    <xs:sequence>
      <xs:element minOccurs="0" name="GlobalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GlobalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogGlobalRegionBody" nillable="true" type="tns:LogGlobalRegionBody" />
  <xs:complexType name="LogLocalQueryCriteria">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://oversea.newegg.com/Framework/Common/Contract" base="q3:DefaultDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="GlobalID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocalID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocalRegionStatus" type="tns:Status" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LogLocalQueryCriteria" nillable="true" type="tns:LogLocalQueryCriteria" />
  <xs:complexType name="ArrayOfLogLocalRegionBody">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogLocalRegionBody" nillable="true" type="tns:LogLocalRegionBody" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogLocalRegionBody" nillable="true" type="tns:ArrayOfLogLocalRegionBody" />
  <xs:complexType name="LogLocalRegionBody">
    <xs:sequence>
      <xs:element minOccurs="0" name="GlobalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GlobalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogLocalRegionBody" nillable="true" type="tns:LogLocalRegionBody" />
</xs:schema>