02_ECCentral/00_SilverlightFramework/Domain/CommonDomain/Service References/QueryLogConfigService/QueryLogConfigService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://oversea.newegg.com/LoggingService/ServiceContracts" elementFormDefault="qualified" targetNamespace="http://oversea.newegg.com/LoggingService/ServiceContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/QueryLogConfigService.svc?xsd=xsd2" namespace="http://oversea.newegg.com/LoggingService/DataContracts" />
  <xs:import schemaLocation="http://s7dmsq01.buyabs.corp:8080/Newegg/Oversea/Framework/LoggingService/2009021401/QueryLogConfigService.svc?xsd=xsd3" namespace="http://oversea.newegg.com/Framework/Common/Contract" />
  <xs:element name="GetCategoryConfigs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="criteria" nillable="true" type="q1:LogCategoryQueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryConfigsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://oversea.newegg.com/Framework/Common/Contract" minOccurs="0" name="GetCategoryConfigsResult" nillable="true" type="q2:QueryResultContractOfArrayOfLogCategoryBodyQchP0p9w" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="criteria" nillable="true" type="q3:LogGlobalQueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://oversea.newegg.com/Framework/Common/Contract" minOccurs="0" name="GetGlobalRegionResult" nillable="true" type="q4:QueryResultContractOfArrayOfLogGlobalRegionBodyQchP0p9w" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://oversea.newegg.com/LoggingService/DataContracts" minOccurs="0" name="criteria" nillable="true" type="q5:LogLocalQueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://oversea.newegg.com/Framework/Common/Contract" minOccurs="0" name="GetLocalRegionResult" nillable="true" type="q6:QueryResultContractOfArrayOfLogLocalRegionBodyQchP0p9w" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>